/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95svh;
    background-color: #55c57a;
    background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75svh, 0 100%);
    position: relative;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;

    .logo {
        height: 35px;
    }
}

.hero-text-box {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: white;
    text-transform: uppercase;
    margin-bottom: 60px;

    .heading-primary-main {
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;
        transition: color 0.2s;
        animation: moveToLeft 1s ease-out;
    }

    .heading-primary-sub {
        display: block;
        letter-spacing: 17px;
        font-size: 20px;
        font-weight: 700;
        animation: moveToRight 1s ease-out;
    }

}   

@keyframes moveToLeft {
  0%   { transform: translateX(-100px); }
  50%  { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

@keyframes moveToRight {
    0%   { transform: translateX(100px); }
    50%  { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
}

.btn-white {
    background-color: white;
    color: #777;
    transition: transform 0.2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
